<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calebevans.jiraforalfred</string>
	<key>category</key>
	<string>Uncategorised</string>
	<key>connections</key>
	<dict>
		<key>2180A341-4F1C-48FA-BDB5-8131CC342B63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D415CCFE-7D58-4B82-8168-8576C956C33C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AE5A743-BAA2-43E5-ADA8-8C6EA4231481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E23BA61E-C412-4FC6-885A-1D421B56D63D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>987CE27D-98F1-4B2D-AAF5-368C7621F99C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0755E542-8E9D-4448-9FB7-BC054AB5C539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2180A341-4F1C-48FA-BDB5-8131CC342B63</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy '{var:issue_key}' to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AE5A743-BAA2-43E5-ADA8-8C6EA4231481</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E106C664-2C45-485E-8E9D-E2C4AF790CD1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy above summary to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E106C664-2C45-485E-8E9D-E2C4AF790CD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5062B9E5-A5E8-461D-B1F2-27B9288AA33D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>An Alfred workflow for listing out Jira tickets, among other things</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:issue_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0755E542-8E9D-4448-9FB7-BC054AB5C539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied "{var:issue_key}" to clipboard</string>
				<key>title</key>
				<string>Jira for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D415CCFE-7D58-4B82-8168-8576C956C33C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:issue_key}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2180A341-4F1C-48FA-BDB5-8131CC342B63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python3 -m jfa.list_issues "$@" || xcode-select --install</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Jira issues, or look up a particular issue</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>987CE27D-98F1-4B2D-AAF5-368C7621F99C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:issue_url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7AE5A743-BAA2-43E5-ADA8-8C6EA4231481</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied URL to clipboard</string>
				<key>title</key>
				<string>Jira for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E23BA61E-C412-4FC6-885A-1D421B56D63D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied summary to clipboard</string>
				<key>title</key>
				<string>Jira for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5062B9E5-A5E8-461D-B1F2-27B9288AA33D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:issue_summary}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E106C664-2C45-485E-8E9D-E2C4AF790CD1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the Jira for Alfred repository:
https://github.com/caleb531/jira-for-alfred#readme</string>
	<key>uidata</key>
	<dict>
		<key>0755E542-8E9D-4448-9FB7-BC054AB5C539</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2180A341-4F1C-48FA-BDB5-8131CC342B63</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>5062B9E5-A5E8-461D-B1F2-27B9288AA33D</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>7AE5A743-BAA2-43E5-ADA8-8C6EA4231481</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>987CE27D-98F1-4B2D-AAF5-368C7621F99C</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D415CCFE-7D58-4B82-8168-8576C956C33C</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E106C664-2C45-485E-8E9D-E2C4AF790CD1</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>E23BA61E-C412-4FC6-885A-1D421B56D63D</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://yourcompany.atlassian.net</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The base URL of your Jira account; trailing slashes are ignored</string>
			<key>label</key>
			<string>Account Base URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_base_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>you@yourcompany.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The username of your Jira account; this is probably an email address.</string>
			<key>label</key>
			<string>Account Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Treat this like a password!</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The API token used to access your Jira account. To create a token, visit &lt;https://id.atlassian.com/manage-profile/security/api-tokens&gt;</string>
			<key>label</key>
			<string>API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_api_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>AB, CD, ...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If supplied, filters keyword-based searches to only issues within the projects you specify; leave blank to search across all projects in your Jira account (note that this filter does not apply to the Recent Issues view or lookups by issue ID)</string>
			<key>label</key>
			<string>Restrict to Projects</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_restrict_to_projects</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>9</integer>
				<key>markercount</key>
				<integer>12</integer>
				<key>maxvalue</key>
				<integer>12</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The maximum number of issues to list in search results</string>
			<key>label</key>
			<string>Maximum Result Count</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>jira_max_result_count</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.7.0</string>
	<key>webaddress</key>
	<string>calebevans.me</string>
</dict>
</plist>
