<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apikey_fixer</key>
	<string>9b480520619584f2714cb99771da6745
</string>
	<key>base_currencies</key>
	<string>USD, PLN</string>
	<key>cryptocurrency_cache_hours</key>
	<string>6</string>
	<key>timezone</key>
	<string>Europe/Warsaw</string>
</dict>
</plist>
