<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEEPL_KEY</key>
	<string>34ca51f5-521e-458d-aac3-2714065e9f72:fx</string>
	<key>DEEPL_PREFERRED</key>
	<string>["RU", "EN", "PL"]</string>
	<key>DEEPL_TARGET</key>
	<string>ru</string>
</dict>
</plist>
