<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.5B820130-4D5F-4E64-850C-ABCA9E7286D3</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.A3B608C1-8C1A-47D1-A054-2470AC7D381E</string>
</dict>
</plist>
